__pycache__/
db.sqlite3
*.gitignore
# migration
**/migrations/**
!**/migrations
!**/migrations/__init__.py
# Environments
*.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.so
*.vscode

*/node_modules/*
